/*
    IMPORTING FONT FROM GOOGLE-FONT
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
    RESET
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*
    ROOT-VARIABLE DECLARATIONS
*/
:root {
    /* COLOR */
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    
    /* FONTS */
    --xs-font: 400 16px 'Poppins', sans-serif;
    --small-font: 400 16px 'Poppins', sans-serif;
    --font-size-inputs: 700 25px 'Poppins', sans-serif;
    --font-size-outputs: 800 100px 'Poppins', sans-serif;
}

/*
    GENERAL STYLES
*/
body {
    background-color: var(--Light-grey);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
    font-family: 'Poppins', sans-serif;
    font: var(--xs-font);
}

input {
    font: var(--font-size-inputs);
    padding: 12px;
    width: 180px;
    border-radius: 10px;
    border: solid 1px var(--Light-grey);
    margin-top: 10px;
}

.error input {
    border: solid 1px var(--Light-red);
}

.error {
    color: var(--Light-red);
}

.input-error-year,
.input-error-month,
.input-error-day {
    text-transform: lowercase;
    font-weight: 400;
    font-size: 13px;
    margin-top: 9px;
    letter-spacing: 1px;
}



/* 
    MAIN CONTAINER 
*/
.main-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 900px;
    background-color: var(--White);
    padding: 30px;   
    border-radius: 30px;
    border-bottom-right-radius: 250px;
}

.input-section {
    display: flex;
    font: var(--small-font);
    color: var(--Smokey-grey);
}

.input-group {
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.button-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button-section button {
    background-color: var(--Purple);
    border: none;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-section button:hover {
    background-color: black;
    transform: scale(1.05);
}

.button-section .line {
    width: 100%;
    height: 2px;
    background-color: var(--Light-grey);
    margin-left: 20px;
    align-self: center;
}

/* 
    RESULT SECTION 
*/
.result-section {
    font: var(--font-size-outputs);
    font-weight: 700;
    margin-left: 30px;
    font-style: italic;
}

.result-group {
    display: flex;
    flex-direction: row;
    line-height: 7rem;
}

.result-age,
.result-day,
.result-month {
    color: var(--Purple);
}
